<div class="row about">
    <div class="col-xs-12">
        <div class="titlebox">
            <div class="imageBox center-block">
                <img id="profilePic" src="images/headshots-12.jpg" class="img img-responsive img-circle">
            </div>
        </div>
    </div>
</div>
<div class="row aboutDescription">
    <div class="col-xs-12">
        <h4><b><a href="http://en.wikipedia.org/wiki/Multipotentiality">Multipotentialite</a></b>-noun: A person whose curiosity for the world around them leads to several different interests and a range of intellectual, business, physical, or creative persuits. Often a person who excels in several areas without  specializing in just one.</h4>
        <h4>When I first heard the above term, I knew that I had found where I fit into the world. I am a person who is constantly trying to learn and improve. Sometimes this curiosity leads me to learn useful skills like Project Management and Software Development, sometimes it leads me toward learning Parkour, Jiu Jitsu, or custom motorcycles.</h4>
        <h4>The constant, is that I have a love for Agile practices and developing creative and innovative solutions to roadblocks. I set lofty goals and tackle big projects; developing a deep passion for what I am doing and for the end result.</h4>
    </div>
</div>