<div class="education">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 school">
           <h1>V-School</h1>
           <hr>
            <div class="col-xs-6">
                <div class="">
                    <img style="max-width:50%" src="images/v_school_Abbreviated_cropped.png" alt="">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="">
                    <h4>Full-Stack Development</h4>
                    <ul>
                        <li>August 2016 - November 2016</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 school">
           <h1>Idaho State Univeristy</h1>
           <hr>
            <div class="col-xs-6">
                <div class="">
                    <img class="img img-responsive" style="max-width:50%" src="images/isu-black.png" alt="">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="">
                    <h4>B.A. International Sudies</h4>
                    <h4>Minor - Spanish</h4>
                    <ul>
                        <li>2009 -  2012</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
    
</div>