<div class="experience">
    <div class="row">
       <div class="col-xs-3">
           <span id="experienceScroll">
               .scroll
           </span>
       </div>
        <div class="col-sm-6 work">
           <h1>LeisureLink</h1>
           <hr>
            <div class="col-xs-6">
                <div class="">
                    <img style="max-width:100%" src="images/LeisureLinkLogo.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="">
                    <h4>Strategic Project Manager </h4>
                    <ul>
                        <li>January 2016 - August 2016</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 work">
           <h1>Entrata</h1>
           <hr>
            <div class="col-xs-6">
                <div class="">
                    <img style="max-width:90%" src="images/entrata.png" alt="">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="">
                    <h4>Associate Director of Training</h4>
                    <ul>
                        <li>2015 -  2016</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 work">
           <h1>Entrata</h1>
           <hr>
            <div class="col-xs-6">
                <div class="">
                    <img style="max-width:90%" src="images/entrata.png" alt="">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="">
                    <h4>Sr. Trainer / Instructional Designer</h4>
                    <ul>
                        <li>2012 -  2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
    
</div>